* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins-reg";
  src: url("./public/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: 'Poppins-light';
    src: url('./public/fonts/Poppins-Light.ttf');
}

html {
  font-family: "Poppins-reg";
  font-size: 62.5%;
}

body {
    /* background-color: #D4DFC7; */
    max-width: 1440px;
    margin: 0 auto;
    background-color: #f8f8f8;
}

h1 {
  color: #96c0b7;
  font-size: 3.4rem;
}

h2{
  color: #96c0b7;
  font-size: 3.6rem;
  padding-left: 54px; /* might need to change */
}

ul {
  list-style: none;
}
