.filtered-card__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
    margin-bottom: 6vh;
}

.filtered-card{
        
        border-radius: 10px;
        background-color: #96C0B7 ;
        padding: 10% 2%;
        color: #FFFFFF;
    
}
.filtered-card p{
    font-size: 1.6rem;
    padding-left: 18px;
}

.filtered-card img{
    width: 180px;
    height: 180px;
    margin: 18px;
}
